{% extends "layout.html" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<script src="static/js/jquery-2.2.0.js"></script>
<script src="static/js/history.js"></script>
<script src="static/js/home.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Welcome, {{ full_name }}</h1>      
  </div>
</div>
<div id="html-table" style="width:80%"></div>
<div id="holdings-bar" style="width:80%"></div>
<div style="width:80%">
	<div id="sector-pie" style="width:40%; float:left;"></div>
	<div id="country-pie" style="width:40%; float:right;"></div>
</div>

{% endblock %}