<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
  </head>
  
  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href='/'>State Street ETF Data</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
              </ul>
              {% if 'email' in session %}
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input id="etf" name="etf" type="text" class="form-control" placeholder="Enter ETF Symbol">
                </div>
                <button id="parse" type="button" class="btn btn-success">Submit</button>
              </form>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                {% if 'email' in session %}
                <li><a href="{{ url_for('history') }}">History</a></li>
                <li><a href="{{ url_for('signout') }}">Sign out</a></li>
                {% else %}
                <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                <li><a href="{{ url_for('signin') }}">Sign in</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
 
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
 
  </body>
</html>