<!DOCTYPE html>
<html lang="en">
<head>
  <title>State Street ETF Data</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery-2.2.0.js"></script>

<!--
  <script type="text/javascript">
  $(function() {
    $('#btnSignUp').click(function() {
 
        $.ajax({
            url: '/signUp',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
  </script>
-->
</head>

<body>
  <div class="container">
  	<div id="signin">
  	  <form>
	  	<div class="form-group">
	  	  <label for="username">Username</label>
	  	  <input type="text" name="username" class="form-control" id="username" placeholder="Username">
	  	</div>
	  	<div class="form-group">
	  	  <label for="password">Password</label>
	  	  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
	  	</div>
	  	<div class="form-group">
	  	  <label for="fullname">Full Name</label>
	  	  <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Name">
	  	</div>
	  	<div class="form-group">
	  	  <label for="email">Email</label>
	  	  <input type="email" name="email" class="form-control" id="email" placeholder="Email">
	  	</div>
	  	<button id="register" type="button" class="btn btn-default">Submit</button>
      <!--<input id="register" type="button" class="btn btn-default">Submit</input>-->
      <br><br><div id="error"></div>
	  </form>
  	</div>
  	<div id="register">
  	</div>
  </div>
</body>

</html>

<script type="text/javascript">

$(function() {

    $('#register').click(function() {

    	/*var data = [];

    	data.username = 'lol';
    	data.password = 'lol';
    	data.fullname = 'lol';
    	data.email = 'lol';

    	console.log(data);*/
 
        $.ajax({
            url: '/signup',
            //data: $('form').serialize(),
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
                var result = JSON.parse(response).message;
                //window.location.replace('/signup');
                /*setTimeout(function() {
                  $('#error').html('Email is already taken');
                }, 3000);*/
                //$('#error').html('Email is already taken');
                if (result == 'User created successfully!') {
                  window.location.assign('/home');
                } else {
                  $('#error').html('Error! ' + result);
                }
                //window.location.href = '/home';
                /*$.ajax({
                	url: '/home',
                	type: 'POST',
                	success: function(data) {

                	}
                });*/

            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});

</script>